.userContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 50px 100px;
  font-family: "Montserrat", sans-serif;
  background: radial-gradient(592px at 48.2% 50%, rgba(255, 255, 249, 0.6) 0%, rgb(175, 203, 243) 74.6%);
}

.userViews {
  display: flex;
  flex-direction: column;
}

.viewHeading {
  font-size: 36px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 150%;
}

.viewsubHeading {
  margin-top: 20px;
  margin-bottom: 48px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 125%;
}

.videos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  justify-content: center;
  text-align: center;
}

.eachvideo {
  margin-bottom: 40px;
}

.eachvideoname {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 30px;
}

.userViewItem {
  display: flex;
  justify-content: center;
  align-items: center;
}

.userViewItem video {
  width: 640px;
  height: 360px;
}

.toggle {
  display: flex;
  flex-direction: row;
  border: 1px solid #0F143A;
  border-radius: 12px;
  text-align: center;
  align-items: center;
  width: 280px;
  height: 60px;
  margin-left: calc(50% - 140px);
  cursor: pointer;
  margin-bottom: 60px;
}

.toggle h4 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0.04em;
  color: #191818;
}

.website{
  align-items: center;
  width: 140px;
  height: 60px;
  background-color:#0F143A;
  border-radius: 12px 0px 0px 12px;
  display: flex;
  text-align: center;
  justify-content: center;
}

.websiteunactive{
  align-items: center;
  width: 140px;
  height: 60px;
  border-radius: 10px 0px 0px 10px;
  display: flex;
  text-align: center;
  justify-content: center;
}

.website h4{
  color: white;
}

.business{
  align-items: center;
  width: 140px;
  height: 60px;
  display: flex;
  text-align: center;
  justify-content: center;
}

.businessactive{
  align-items: center;
  width: 140px;
  height: 60px;
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: #0F143A;
  border-radius: 0px 10px 10px 0px;
}

.businessactive h4{
  color: white;
}

.recording{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inputfields{
  display: flex;
  align-items: center;
  justify-content: center;
}

.start{
  margin-right: 50px;
}

.starthead{
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}

.submitbutton{
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  padding: 10px 16px;
  border-radius: 30px;
  margin-top: 24px;
  outline: none;
  background-color: #0F143A;
  color: #FFFFFF;
  cursor: pointer;
  border: none;
}

@media only screen and (max-width: 1560px) {
  .videos {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  .userViewItem video {
    width: 400px;
    height: 235px;
  }
}

@media only screen and (max-width: 1080px) {
  .userContainer {
    padding: 50px;
  }

  .userViewItem video {
    width: 480px;
    height: 270px;
  }

  .videos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    justify-content: center;
    text-align: center;
  }
}

@media only screen and (max-width: 640px) {
  .userContainer{
    padding: 20px;
  }

  .viewHeading {
    font-size: 24px;
  }
  
  .viewsubHeading {
    margin-top: 20px;
    margin-bottom: 48px;
    font-size: 14px;
  }

  .userViewItem video {
    width: 320px;
    height: 180px;
  }

  .videos {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }

  .inputfields{
    flex-direction: column;
  }

  .start{
    margin-right: 0px;
    margin-bottom: 20px;
  }
}
