.Navbar {
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
  align-items: center;
  background-color: #FFFFFF;
  font-family: "Montserrat", sans-serif;
  position: sticky;
  top: 0px;
  z-index: 101;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  height: 54px;
}

.logo img {
  height: 100%;
}

.rightNavbar {
  display: flex;
  align-items: center;
  color: white;
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginbutton {
  text-decoration: none;
  border: none;
  cursor: pointer;
  background-color: #f87115;
  color: #FFFFFF;
  padding: 10px 24px;
  border-radius: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

.hiAdmin {
  color: #000000;
}

.logoutbutton {
  text-decoration: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.profileImg {
  margin-left: 10px;
  position: relative;
}

.profileImg img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

.dropdown {
  position: absolute;
  left: -60px;
  top: 50px;
  border: 1px solid rgb(0, 0, 0);
  background-color: rgb(236, 239, 241);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
}

.profileImg .dropdown::after {
  content: " ";
  position: absolute;
  bottom: 100%;
  left: 80%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.list {
  background-color: color;
  color: black;
  padding: 10px 0px;
  font-family: "Montserrat", sans-serif;
  width: 100%;
}

.list:hover {
  background-color: rgb(93, 93, 255, 0.3);
}

@media only screen and (max-width: 640px) {
  .logo{
    height: 30px;
  }

  .profileImg {
    margin-left: 0px;
  }

  .Navbar {
    padding: 10px 16px;
  }

  .loginbutton{
    padding: 5px 12px;
    font-size: 12px;
  }
}