.faq {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    margin-top: 64px;
}

.head {
    color: #f87115;
    font-size: 30px;
    margin-bottom: 12px;
    font-weight: 500;
}

.subhead {
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 16px;
}

.subheaddesc {
    width: 640px;
    margin: auto;
    text-align: center;
    font-size: 18px;
    line-height: 130%;
}

.questionsandanswers {
    margin-top: 30px;
}

.eachquestionanswer {
    background-color: #FFFFFF;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    width: 880px;
    padding: 20px 40px;
    border-radius: 20px;
    font-size: 20px;
}

.questionrow {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question {
    font-weight: 500;
}

.icon {
    cursor: pointer;
    font-size: 24px;
    height: 24px;
    margin-left: 10px;
}

.answer {
    margin-top: 12px;
    font-size: 16px;
    padding-right: 50px;
}

@media only screen and (max-width:1080px) {
    .subheaddesc {
        width: 500px;
    }

    .eachquestionanswer {
        padding: 20px 20px;
        width: 540px;
        font-size: 16px;
    }

    .answer {
        font-size: 14px;
    }
}

@media only screen and (max-width:640px) {
    .head{
        font-size: 24px;
    }

    .subhead{
        font-size: 30px;
    }

    .subheaddesc {
        width: 300px;
        font-size: 16px;
    }

    .eachquestionanswer {
        width: 290px;
        padding: 20px 20px;
        font-size: 14px;
    }

    .answer {
        font-size: 12px;
    }
}